* { /*Universal selector*/
    color: rgb(43, 43, 43);
}

header {
    color: darkblue;/* by name  */ 
    text-align: center;/* relative to parent element  */
    line-height:.5; /* . is relative to normal line height*/
}

header h1 {
    font-weight: 400; /* boldness of text */
    text-decoration: underline #ac2234 dotted; /* Line decor */
    letter-spacing: 2px;
    word-spacing: 15px;
    font-family: fantasy;
}

main h3 { /* Desecent Selector */
    color:#ff0088; /* Hex Value */
}

#sub { /* By id # */
    color: hotpink;
}

h1 + h3 { /* Silbling Combinator */
    color:rgb(0, 168, 17);
}

table > caption { /* Child combinator */ 
    color: blueviolet;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}